{{ partial "head.html" . }}
<body>
  {{ partial "facebook_sdk.html" . }}
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <div class="v-min-h100 flex flex-column">
    <div id="container" class="h-max-80 px2 flex-auto mx-auto">
      {{ partial "header.html" . }}

      <section id="main" class="mx3" style="padding-bottom: 0 !important;">
        <div class="algori-container px1">
          <h1 class="mt1 mb0">{{ .Title }}</h1>
          <p class="algori-summary mt0">{{ .Params.Summary }}</p>
          <div id="algori-demo"></div>
          <div class="algori-content">
            {{ .Content }}
          </div>
          </script>
          {{ range .Params.js_libs }}
            <script async src="{{ $.Site.BaseURL }}algorijs/js/{{ . }}?v={{ $.Site.Params.Version }}"></script>
          {{ end }}
        </div>
      </section>
      {{ partial "isso.html" . }}
    </div>

    {{ partial "footer.html" . }}
  </div>
</body>
</html>
