<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

    <!-- Logo -->
    <link rel="icon" href="{{ .Site.BaseURL }}images/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.png" type="image/x-icon"/>

    <!-- CSS -->
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/basscss.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/prettify.css"/>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/viisix.css?v=r2_03"/>
    <!-- End of CSS -->

    <!-- Javascript -->
    <script src="{{ .Site.BaseURL }}js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <!-- End of Javascript -->

    {{ partial "google_analytics" . }}
</head>
