{{ partial "head.html" . }}
<body>
    {{ partial "facebook_sdk.html" . }}
    <script type="text/javascript">
        var searchIndex = JSON.parse('{{ partial "search_index.html" . }}');
    </script>
    <script async src="{{ .Site.BaseURL }}js/search.js?v={{ .Site.Params.Version }}"></script>
    <div class="v-min-h100 flex flex-column">
        <div id="container" class="h-max-80 px2 flex-auto mx-auto">
            {{ partial "header.html" . }}

            <main id="main" class="mx3">
                {{ range .Data.Pages }}
                    {{ if eq .Type "index" }}
                        <h1 class="mt0">
                            {{ .Title }}
                        </h1>
                        {{ .Content }}
                    {{ end }}
                {{ end }}

                <h3>Search our contents</h3>
                <div id="search-box"></div>
            </main>
        </div>

        {{ partial "footer.html" . }}
    </div>
</body>
</html>
