{{ partial "head.html" . }}
<body>
    {{ partial "facebook_sdk.html" . }}
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <div class="px2">
        {{ partial "header.html" . }}

        <section id="main" class="mx3">
            <h1>Algorithm Demos by Javascript</h1>
            <div class="algori-list">
                {{ range .Data.Pages }}
                    {{ if eq .Type "algorijs" }}
                    <a href="{{ .Permalink }}"
                       class="color-inherit text-decoration-none"
                    >
                        <div class="algori clearfix mb1">
                            <h4>
                                {{ .Title}}
                            </h4>
                            <div class="algori-summary">
                                {{ .Params.summary }}
                            </div>
                            <div class="algori-avatar">
                                <img src="{{ .Site.BaseURL }}algorijs/images/{{ .Params.algo_avatar }}"
                                     alt="{{ .Params.algo_avatar_summary }}"
                                     class="algori-avatar-img"
                                />
                                <div class="algori-avatar-summary">
                                    {{ .Params.algo_avatar_summary }}
                                </div>
                            </div>
                        </div>
                    </a>
                    {{ end }}
                {{ end }}
            </div>
        </section>
    </div>
</body>
</html>
