{{ partial "head.html" . }}
<body>
  {{ partial "facebook_sdk.html" . }}
  <div class="v-min-h100 flex flex-column">
    <div id="container" class="h-max-80 px2 flex-auto mx-auto">
      {{ partial "header.html" . }}

      <section id="main" class="mx3">
        {{ range .Data.Pages }}
        <a href="{{ .Permalink }}"
           class="blog-post px1 mb2 color-inherit text-decoration-none block clearfix">
          {{ if eq .Type "blog" }}
            <h2 class="mt1 mb0">{{ .Title }}</h2>
            <p class="mt0 mb1">
              <span class="blog-post-author">By: {{.Params.Author}} </span>
              <span class="blog-post-date"> - {{dateFormat "Jan 02, 2006" .Params.date}}</span>
            </p>
            {{ if .Params.feature_image }}
              <div class="feature-image-container mb1">
                <img src="{{ .Site.BaseURL }}/{{ .Params.Feature_Image }}"
                     alt="Feature image of {{ .Title }}"
                     class="feature-image"
                     style="transform: translate(0, -{{ .Params.Feature_Image_V_Adjust }}%);"
                >
              </div>
            {{ end }}
            <p class="blog-post-summary pt1">{{ .Params.Summary }}</p>
          {{ end }}
        </a>
        {{ end }}
      </section>
  </div>

  {{ partial "footer.html" }}
  </div>
</body>
</html>
