{{ partial "head.html" . }}
<body>
    {{ partial "facebook_sdk.html" . }}
    <div class="v-min-h100 mx-auto flex flex-column">
        <div id="container" class="h-max-80 px2 flex-auto mx-auto">
            {{ partial "header.html" . }}

            <section id="main" class="mx3">
                <h1 class="mt0">Our members</h1>
                {{ range sort .Data.Pages.ByDate }}
                    {{ if eq .Type "members" }}
                        <div class="member clearfix mb2">
                            <div class="member-avatar p1 left">
                                {{ if .Params.avatar }}
                                <img src="{{ .Site.BaseURL }}/images/{{ .Params.avatar }}"
                                     alt="{{ .Params.full_name }}'s avatar"
                                     class="member-avatar-img"
                                />
                                {{ end }}
                            </div>
                            <div class="overflow-hidden justify pt1">
                                <h4>{{ .Params.full_name }}</h4>
                                {{ .Content }}
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </section>
        </div>

        {{ partial "footer.html" . }}
    </div>
</body>
</html>
