{{ partial "head.html" . }}
<body>
    <div class="px3">
        {{ partial "header.html" . }}

        <section id="main" class="py3">
            <h2>Our projects</h2>
            {{ range .Data.Pages }}
                {{ if eq .Type "projects" }}
                    <div class="project clearfix mb2">
                        <div class="project-avatar left p2 mr1">
                            <h4>
                                {{ if .Params.project_url }}
                                <a href="{{ .Params.project_url }}"
                                   class="color-inherit text-decoration-none hover-underline"
                                >
                                    {{ .Title}}
                                </a>
                                {{ else }}
                                    {{ .Title }}
                                {{ end }}
                            </h4>
                            {{ if .Params.avatar }}
                                {{ if .Params.project_url }}
                                <a href="{{ .Params.project_url }}"
                                   class="color-inherit text-decoration-none hover-underline"
                                >
                                    <img src="{{ .Site.BaseURL }}/images/{{ .Params.avatar }}"
                                         alt="{{ .Title }}'s avatar"
                                         class="project-avatar-img"
                                    />
                                </a>
                                {{ else }}
                                    <img src="{{ .Site.BaseURL }}/images/{{ .Params.avatar }}"
                                         alt="{{ .Title }}'s avatar"
                                         class="project-avatar-img"
                                    />
                                {{ end }}

                            {{ end }}
                        </div>
                        <div class="project-content overflow-hidden px2">
                            {{ .Content }}
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </section>
    </div>
</body>
</html>
