{{ partial "head.html" . }}
<body>
    {{ partial "facebook_sdk.html" . }}
    <div class="v-min-h100 flex flex-column">
        <div id="container" class="h-max-80 px2 flex-auto mx-auto">
            {{ partial "header.html" . }}

            <section id="main" class="mx3">
                <h1 class="mt0">Project {{ .Title }}</h1>
                    <div class="project clearfix mb1">
                        <div class="project-avatar p1 left">
                            {{ if .Params.avatar }}
                                {{ if .Params.project_url }}
                                <a href="{{ .Params.project_url }}"
                                   class="color-inherit text-decoration-none hover-underline"
                                >
                                    <img src="{{ .Site.BaseURL }}/projects/{{ .Params.avatar }}"
                                         alt="{{ .Title }}'s avatar"
                                         class="project-avatar-img"
                                    />
                                </a>
                                <h4>Project's <a href="{{ .Params.project_url }}">Website</a></h4>
                                {{ else }}
                                    <img src="{{ .Site.BaseURL }}/projects/{{ .Params.avatar }}"
                                         alt="{{ .Title }}'s avatar"
                                         class="project-avatar-img"
                                    />
                                {{ end }}
                            {{ end }}
                        </div>
                        <div class="project-content overflow-hidden">
                            {{ .Content }}
                            <div class="fb-like"
                                 data-share="true"
                                 data-width="300"
                            ></div>
                        </div>
                    </div>
            </section>
        </div>

        {{ partial "footer.html" . }}
    </div>
</body>
</html>
