{{ partial "head.html" . }}
<body>
    <div class="px3">
        {{ partial "header.html" . }}

        <section id="main" class="py3">
            <div class="blog-post-container px1">
                <h2 class="mt1 mb0">{{ .Title }}</h2>
                <p class="blog-post-author mt0 mb1">By: {{.Params.Author}}</p>
                <p class="blog-post-summary mt0">{{ .Params.Summary }}</p>
                <div class="blog-post-content">
                    {{ .Content }}
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        $('code').addClass('prettyprint')
    </script>
</body>
</html>
